# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
Digital_library/instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Other non-code files
*.icloud
*.pdf
*.jpeg
*.png
*.jpg
*.gif
*.log
*.tmp
*.swp
*.swo

# Ignore custom directories and files
HTML + CSS/
API_with_flask/
Best_Buy/
Calculator.py/
Flask_project/
Git/
Movie project/
OOP test/
ORM/
POLL-O-RAMA/
POLLORAMA/
Prognoz Bot/
SQL/
Zootopia/
blog_app/
drink_bot/
moviweb_app/
my_flask_app/
pythonGitProject/
pythonProject/
pythonProject1/
pythonProject2/
pythonProject3/
pythonTestGit.py/
Swift Game Development.pdf
Topt/
cat.png
für Arbeit/
textbook.sqlite3
Мики рисунки/
Резюме Вологдин А.М..pdf
Снимок экрана 2024-08-09 в 13.06.13.png
Снимок экрана 2024-08-09 в 13.06.22.png
Снимок экрана 2024-08-26 в 13.02.49.png
Снимок экрана 2024-08-26 в 13.04.16.png
Снимок экрана 2024-08-26 в 13.04.53.png
Фотосессия /

# System-specific files
.DS_Store
Thumbs.db
